function Info.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 1
pop this 2
push constant 3
pop this 1
push pointer 0
call Info.startInfo 1
pop temp 0
push pointer 0
return
function Info.setScore 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push constant 21
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push this 0
return
function Info.setLevel 0
push argument 0
pop pointer 0
push this 2
push constant 1
add
pop this 2
push constant 21
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push this 2
return
function Info.setLives 0
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop this 1
push pointer 0
push constant 7354
push this 1
add
push constant 0
call Info.drawHeart 3
pop temp 0
push this 1
return
function Info.startInfo 0
push argument 0
pop pointer 0
push constant 3
pop this 1
push constant 0
push constant 216
push constant 511
push constant 216
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 217
push constant 511
push constant 217
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 218
push constant 511
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 21
push constant 5
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 21
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 21
push constant 46
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
push constant 7354
push constant 1
call Info.drawHeart 3
pop temp 0
push pointer 0
push constant 7355
push constant 1
call Info.drawHeart 3
pop temp 0
push pointer 0
push constant 7356
push constant 1
call Info.drawHeart 3
pop temp 0
push constant 0
return
function Info.drawHeart 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push argument 2
push constant 3640
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push argument 2
push constant 8060
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push argument 2
push constant 16382
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push argument 2
push constant 16382
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push argument 2
push constant 8188
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push argument 2
push constant 4088
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push argument 2
push constant 992
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push argument 2
push constant 448
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push argument 2
push constant 128
call Math.multiply 2
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
