function Main.main 2
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
push constant 0
pop local 1
call Board.new 0
pop local 0
push local 0
call Board.createLevels 1
pop temp 0
push local 0
call Board.getExitGame 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
call Screen.clearScreen 0
pop temp 0
push constant 11
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP1
push local 1
push constant 78
eq
push local 1
push constant 89
eq
or
push local 1
push constant 110
eq
or
push local 1
push constant 121
eq
or
not
not
if-goto WHILE_END1
call Keyboard.readChar 0
pop local 1
call Screen.clearScreen 0
pop temp 0
push constant 11
push constant 18
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 78
eq
push local 1
push constant 110
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Board.goodbye 1
pop temp 0
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
